


<h3 class="text-center">Consultar cotizaciones</h3>

<div class="container" style="border:2px solid #cecece;">
<div class="row">
    <div class="col col-lg-2">
    N°Cotizacion
    </div>
    <div class="col col-lg-2">
    <input type="text" id="NCot" onchange="buscarCot();">
    </div>
    <div class="col col-lg-2">
    Fecha
    </div>

    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='fecha1'>
                    <input type='text' id="fecha" class="form-control" onchange="buscarCot();"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#fecha1').datetimepicker({locale: 'es' ,viewMode: 'days',format:'DD/MM/YYYY'});
            });
            $("#fecha1").on("dp.change", function(e) {
            buscarCot();

            });
        </script>

    </div>


</div>
<div class="row">
    <div class="col col-lg-2">
    Rut Cliente
    </div>
    <div class="col col-lg-2">
    <input type="text" id="RCli" onchange="buscarCot();">
    </div>
    <div class="col col-lg-2">
    Estado
    </div>
    <div class="col col-lg-2">
    <%= select_tag('estado','<option value="Pendiente">Pendiente</option><option value="Rechazada">Rechazada</option><option value="Aceptada">Aceptada</option><option value="Expirada">Expirada</option>'.html_safe,onchange:'buscarCot();')%>
    </div>
</div>
</div>
<div class="container" style="height:450px; overflow:scroll;">

    <%= render partial: 'mostrarCotizaciones', locals:{cot: @cot} %>


</div>
<%=link_to "Volver", '/home', class:"btn btn-primary col-xs-4 col-xs-offset-4 ", style:"color:white;"%>