<h1>Listados Estadisticos</h1>

<table border="1" align="left" >
  <th colspan="1">
    Listados por
  </th>
  <th colspan="1">
    Detalle
  </th>
  <tr>
    <td><select><option value="clientes_xv">Clientes por Vendedor</option><option value="clientes_e">Clientes de la Empresa</option><option value="uc_cliente">Ultimas compras por Cliente</option><option value="clientes_sc">Clientes sin Compra</option><option value="uc_empresa">Ultimas compras de la Empresa</option><option value="balance">Balance de Compras y Ventas</option><option value="facturas_c">Facturas por cobrar</option><option value="facturas_p">Facturas por pagar</option><option value="cheques">Cheques</option><option value="detalle">Detalle de comisiones</option></select></td>
    <td><input type="radio" name="" value="" checked> Algo</td>
  </tr>
  <tr>
    <td><select><option value="clientes_xv">Clientes por Vendedor</option><option value="clientes_e">Clientes de la Empresa</option><option value="uc_cliente">Ultimas compras por Cliente</option><option value="clientes_sc">Clientes sin Compra</option><option value="uc_empresa">Ultimas compras de la Empresa</option><option value="balance">Balance de Compras y Ventas</option><option value="facturas_c">Facturas por cobrar</option><option value="facturas_p">Facturas por pagar</option><option value="cheques">Cheques</option><option value="detalle">Detalle de comisiones</option></select></td>
    <td><input type="radio" name="" value="" checked> Algo2</td>
  </tr>

</table>
<br/><br/><br/><br/><br/>


<%= 'Listado' %>
<table border="1" align="auto">
  <tr>
    <th> Algo </th>
    <th> Algo </th>
    <th> Algo </th>
    <th> Algo </th>
    <th> Algo </th>
    <th> Algo </th>
    <th> Algo </th>
  </tr>
  <tr>
    <td height="258" colspan="7">
    </td>
  </tr>
</table>

<br/>
<form>
  Total de Comisiones: <input type="text" TC="totalcomisiones"><br>
</form>

<button type="button" onclick="link_to("")">Aceptar</button>

<button type="button" onclick="link_to("")">Guardar</button>

<button type="button" onclick="link_to("")">Salir</button>






