<h1>Informes</h1>
<select>
  <option value="clientes_xv">Clientes por Vendedor</option>
  <option value="clientes_e">Clientes de la Empresa</option>
  <option value="uc_cliente">Ultimas compras por Cliente</option>
  <option value="clientes_sc">Clientes sin Compra</option>
  <option value="uc_empresa">Ultimas compras de la Empresa</option>
  <option value="balance">Balance de Compras y Ventas</option>
  <option value="facturas_p">Facturas por pagar</option>
</select>

<button type="button" onclick="link_to("")"Mostrar Informer</button>
