<div class="panel">

<div class="panel-heading text-center col-xs-6 col-xs-offset-3">
<h1>Nuevo usuario</h1>
</div>
<div class="panel-body text-center col-xs-6 col-xs-offset-3">
<%= render 'form' %>

<%= link_to 'Volver', usuarios_path, class:"btn btn-primary", style:"color:white;" %>
</div>
</div>